/************** Fonts *************/

$fontBase1: 'Roboto', sans-serif;
$baseFontSize: 16px;

/************** Breakpoints *************/

$mobile: 320px;
$desktop: 1025px; //1440px
$desktopMax: 1920px; // TODO: max

$mobileWrapper: 290px;
$tabletWrapper: 938px;
$desktopWrapper: 1024px;//953px //1138px //1886px
$desktopMaxWrapper: 1108px;
$desktopWideWrapper: 1886px;

$mobilePadding: 12px;
$tabletPadding: 20px;
$desktopPadding: 20px;
$desktopMaxPadding: 20px;

/************** Colors *************/

$black: #000;
$white: #fff;
$purple: #7e60ec;
$lighterPurple: #8467ee;
$gray: #373737;
$darkGray: #170b45;
$lightGray: #cfcfcf;
$lightGray2: #f9f8fa;
$green: #55edb1;

$accentColor: $purple;

$defaultText: $gray;
$borderColor: $lightGray;

// $gray: #616161;
// $grayDark: #16181e;
// $grayLight: #e1e1e1;
// $grayLight2: #828282;
// $grayLight3: #bdbdbd;
// $grayLight4: #717171;
// $grayLightest: #f7f7f7;
// $bluePrimary: #082664;
// $blueSecondary: #23407c;
// $blueLighten: #072e75;
// $blueLight: #2f80ed;
// $blueDark: #061e50;
// $blueGray: #e2ebff;
// $blueGrayLight: #f9fbff;
// $blueHover: #0a307e;
// $blueActive: #082258;
// $blueDisabled: rgba($bluePrimary, 0.3);
// $greenHover: #afd72a;
// $greenActive: #98b927;
// $greenDisabled: #d7e2b3;

/************** Common *************/

$borderRadius: 5px;
$lineBorder: 1px solid rgba($black, 0.08);
$imagesSource: '../media/images/';
$iconsSource: '../media/icons/'; //url("#{$iconsSource}arrow-right-white.svg")
