.intro {
  position: relative;
  padding: vw($mobile, 40px) 0 vw($mobile, 298px);
  color: $white;
  background: $darkGray;

  @media screen and (max-width: $desktop - 1px) {
    text-align: center;
    overflow: hidden;
  }

  @media screen and (min-width: $desktop) {
    padding: rem(111) 0 rem(121);
  }

  @media screen and (min-width: $desktopMax) {
    //padding-top: rem(10);
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: vw($mobile, 25px);
    line-height: 1.2;
    font-size: vw($mobile, 24px);

    @media screen and (max-width: $desktop - 1px) {
      font-weight: 300;
    }

    @media screen and (min-width: $desktop) {
      position: relative;
      z-index: 2;
      width: 72%;
      max-width: 705px;
      margin-bottom: rem(46);
      font-size: rem(58);
    }
  }

  &__btn {
    padding: 0 vw($mobile, 12px);

    @media screen and (max-width: $desktop - 1px) {
      position: relative;
      z-index: 2;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 rem(50);
    }
  }

  &__pic {
    position: absolute;

    @media screen and (max-width: $desktop - 1px) {
      bottom: 0;
      left: 0;
      width: 100vw;
    }

    @media screen and (min-width: $desktop) {
      bottom: rem(-121px);
      left: auto;
      right: /*rem(393)*/-200px;
      width: rem(904);
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
