.intro {
  padding: vw($mobile, 40px) 0 vw($mobile, 298px);
  color: $white;
  background: $darkGray;

  @media screen and (max-width: $desktop - 1px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    padding: rem(193) 0 rem(168);
  }

  @media screen and (min-width: $desktopMax) {
    //padding-top: rem(10);
  }

  &__title {
    margin-bottom: vw($mobile, 25px);
    line-height: 1.2;
    font-size: vw($mobile, 24px);

    @media screen and (max-width: $desktop - 1px) {
      font-weight: 300;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(84);
      max-width: 72%;
      font-size: rem(84);
    }
  }

  &__btn {
    padding: 0 vw($mobile, 12px);
    @media screen and (min-width: $desktop) {
      padding: 0 rem(57);
    }
  }
}
