.button {
  @extend %button-unstyled;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: vw($mobile, 48px);
  padding: 0 vw($mobile, 15px);
  font-size: vw($mobile, 20px);
  font-weight: bold;
  letter-spacing: 0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: $white;
  text-decoration: none;
  //line-height: vw($mobile, 48px);
  // background-color: $bluePrimary;
  box-shadow: 0 16px 45px 3px rgba(86, 51, 154, 0.5);
  transition: background-color 180ms ease-out, color 180ms ease-out; // todo mixin

  @media screen and (min-width: $desktop) {
    height: rem(74);
    padding: 0 rem(60);
    //line-height: rem(48);
    font-size: rem(36);
    letter-spacing: 0.0045em;
  }

  @media screen and (min-width: $desktop) {
    //margin-top: rem(5);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  @at-root a#{&} {
    text-decoration: none;
  }

  &--primary {
    background: $accentColor linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);

    // TODO: btn styles
    // &:hover {
    //   background-color: $blueHover;
    // }
    // &:active {
    //   background-color: $blueActive;
    // }
    // &:disabled {
    //   background-color: $blueDisabled;
    // }

    // &.button--outlined {
    //   color: $bluePrimary;

    //   &:hover {
    //     color: $blueHover;
    //   }
    //   &:active {
    //     color: $blueActive;
    //   }
    //   &:disabled {
    //     color: $blueDisabled;
    //   }
    // }
  }

  &--secondary {
    background: $green linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  }

  &--small {
    letter-spacing: normal;

    @media screen and (min-width: $desktop) {
      height: rem(51);
      padding: 0 rem(45);
      font-size: rem(26);
    }
  }
}
