.couriers {
  padding-top: vw($mobile, 43px);

  @media screen and (max-width: $desktop - 1) {
    overflow: hidden;
  }

  @media screen and (min-width: $desktop) {
    padding-top: rem(140);
    padding-bottom: rem(148);
    background: url('../media/images/map@1x.jpg') no-repeat 160% top;
    background-size: auto 120%;

    @supports (background-image: image-set(url('../media/images/map@1x.webp') 1x)) {
      background-image: url('../media/images/map@1x.webp');
    }
  }

  &__content {
    position: relative;

    @media screen and (min-width: $desktop) {
      margin: 0 49% 0 0;
    }
  }

  &__pic {
    position: relative;
    top: vw($mobile, -70px);

    @media screen and (max-width: $desktop - 1) {
      z-index: -1;
      max-width: 100vw;
      height: vw($mobile, 442px);
      margin: 0 vw($mobile, -12px);
    }

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: -124px;
      right: -529px;
      width: 403px;
    }

    img {
      display: block;
      width: 100%;

      @media screen and (max-width: $desktop - 1) {
        position: relative;
        left: -86%;
        top: vw($mobile, -31px);
        width: 282%;
      }
    }
  }

  &__title {
    margin-bottom: vw($mobile, 19px);

    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(34);
    }
  }

  &__desc {
    margin-bottom: vw($mobile, 35px);

    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(55);
    }
  }

  &__list {
    @extend %list-unstyled;
    line-height: 1.15;
    font-weight: 300;
    color: $darkGray;

    @media screen and (min-width: $desktop) {
      line-height: 1;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;

    & + & {
      margin-top: vw($mobile, 34px);

      @media screen and (min-width: $desktop) {
        margin-top: 52px;
      }
    }
  }

  &__list-pic {
    width: vw($mobile, 24px);
    margin-right: vw($mobile, 15px);

    @media screen and (min-width: $desktop) {
      width: rem(39);
      margin-right: rem(20);
    }
  }
}
