.couriers {
  padding-top: vw($mobile, 40px);

  @media screen and (max-width: $desktop - 1) {
    overflow: hidden;
  }

  @media screen and (min-width: $desktop) {
    padding-top: rem(140);
    padding-bottom: rem(148);
  }

  &__content {
    position: relative;

    @media screen and (min-width: $desktop) {
      margin: 0 49% 0 0;
    }
  }

  &__pic {
    position: relative;
    z-index: -1;
    top: vw($mobile, -70px);

    @media screen and (max-width: $desktop - 1) {
      max-width: 100vw;
      height: vw($mobile, 436px);
      margin: 0 vw($mobile, -12px);
    }

    img {
      display: block;
      width: 100%;

      @media screen and (max-width: $desktop - 1) {
        position: relative;
        width: 282%;
        left: -86%;
        top: vw($mobile, -38px);
      }
    }

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: -140px;
      right: -826px;
      width: 1433px;
    }
  }

  &__title {
    margin-bottom: vw($mobile, 22px);

    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(34);
    }
  }

  &__desc {
    margin-bottom: vw($mobile, 40px);

    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(55);
    }
  }

  &__list {
    @extend %list-unstyled;
    line-height: 1;
    font-weight: 300;
    color: $darkGray;
  }

  &__list-item {
    display: flex;
    line-height: 1;

    @media screen and (min-width: $desktop) {
      align-items: center;
    }

    & + & {
      margin-top: vw($mobile, 34px);

      @media screen and (min-width: $desktop) {
        margin-top: 52px;
      }
    }
  }

  &__list-pic {
    width: vw($mobile, 24px);
    margin-right: vw($mobile, 15px);

    @media screen and (min-width: $desktop) {
      width: rem(39);
      margin-right: rem(20);
    }
  }
}
