.kitchen {
  background-color: $purple;
  padding-top: vw($mobile, 37px);
  padding-bottom: vw($mobile, 16px);
  background-color: #42386b;

  @media screen and (min-width: $desktop) {
    padding-top: rem(118);
    padding-bottom: rem(633);
  }

  @media screen and (max-width: $desktop - 1) {
    overflow: hidden;
  }

  &__content {
    @media screen and (min-width: $desktop) {
      padding-left: rem(20);
      position: relative;
      margin: 0 58% 0 0;
    }
  }

  &__title,
  &__desc {
    color: $white;

    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      position: relative;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: vw($mobile, 24px);

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(36);
    }
  }

  &__desc {
    @media screen and (max-width: $desktop - 1) {
      margin-bottom: vw($mobile, 40px);
    }

    @media screen and (min-width: $desktop) {
      p {
        letter-spacing: 0.005em;
      }

      p + p {
        margin-top: 28px;
      }
    }
  }

  &__pic {
    width: 100vw;
    margin: 0 vw($mobile, -12px);

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: rem(-119);
      right: rem(-1330);
      width: rem(2558);
    }
    @media screen and (max-width: $desktop - 1) {
      img {
        width: 154%;
        object-position: center;
        position: relative;
        left: -14%;
      }
    }

    img {
      display: block;
      width: 100%;

      @media screen and (max-width: $desktop - 1) {
        position: relative;
        width: 282%;
        left: -86%;
        top: vw($mobile, -38px);
      }
    }
  }
}
