.kitchen {
  padding-top: vw($mobile, 40px);
  padding-bottom: vw($mobile, 14px);
  background-color: $purple;
  background-color: #42386b;

  @media screen and (min-width: $desktop) {
    overflow: hidden;
    padding-top: rem(94);
    padding-bottom: rem(504);
  }

  @media screen and (max-width: $desktop - 1) {
    overflow: hidden;
  }

  &__content {

    @media screen and (min-width: $desktop) {
      position: relative;
      margin: 0 38% 0 0;
    }
  }

  &__title,
  &__desc {
    color: $white;

    @media screen and (max-width: $desktop - 1) {
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      position: relative;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: vw($mobile, 20px);

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(29);
    }
  }

  &__desc {
    @media screen and (max-width: $desktop - 1) {
      margin-bottom: vw($mobile, 40px);
    }

    @media screen and (min-width: $desktop) {
      p {
        letter-spacing: 0.005em;
      }

      p + p {
        margin-top: rem(24);
      }
    }
  }

  &__pic {
    width: 100vw;
    margin: 0 vw($mobile, -12px);

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: rem(-95);
      right: rem(-1062);
      width: rem(2050);
    }
    @media screen and (max-width: $desktop - 1) {
      img {
        width: 154%;
        object-position: center;
        position: relative;
        left: -14%;
      }
    }

    img {
      display: block;
      width: 100%;

      @media screen and (max-width: $desktop - 1) {
        position: relative;
        width: 157%;
        left: -15%;
      }
    }
  }
}
