.marketing {
  padding: vw($mobile, 43px) 0 vw($mobile, 48px);
  text-align: center;
  color: $white;
  background-color: #20183e;

  @media screen and (min-width: $desktop) {
    padding: rem(64) 0 rem(40);
  }

  &__title {
    margin-bottom: vw($mobile, 11px);
    color: inherit;

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(30);
    }
  }

  &__text {
    margin-bottom: vw($mobile, 16px);

    @media screen and (min-width: $desktop) {
      margin: 0 18% rem(16);
    }
  }

  &__nav {
    position: relative;
    height: vw($mobile, 28px);
    margin: 0 0 vw($mobile, 26px);

    @media screen and (min-width: $desktop) {
      max-width: rem(1440);
      height: rem(50);
      margin: 0 0 rem(36);
    }
  }

  &__list {

    @media screen and (max-width: $desktop - 1px) {
      overflow: hidden;
      border-radius: vw($mobile, 7px);
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .slick-arrow {
    @extend %button-unstyled;
    position: absolute;
    top: vw($mobile, 2px);
    width: vw($mobile, 40px);
    height: vw($mobile, 28px);
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;

    @media screen and (min-width: $desktop) {
      top: 0;
      width: rem(64);
      height: rem(45);
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  .slick-prev {
    left: 0;
    background-image: url('../media/icons/left.svg');
  }

  .slick-next {
    right: 0;
    background-image: url('../media/icons/right.svg');
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;

    button {
      @extend %button-unstyled;
      width: vw($mobile, 12px);
      height: vw($mobile, 12px);
      margin: vw($mobile, 2px);
      font-size: 0;
      background-color: transparent;
      border: vw($mobile, 4px) solid #eaeaea;
      border-radius: 50%;

      @media screen and (min-width: $desktop) {
        width: rem(19);
        height: rem(19);
        margin: rem(3);
        border-width: rem(6);
      }
    }

    .slick-active {
      button {
        background-color: $accentColor;
        border-color: $accentColor;
      }
    }
  }
}

.marketing-slide {
  position: relative;
  width: vw($mobile, 296px);
  padding: vw($mobile, 19px) vw($mobile, 10px) vw($mobile, 177px);
  line-height: 1.28;
  color: $defaultText;
  background-color: $white;

  @media screen and (min-width: $desktop) {
    width: calc(33.3% - 40px);
    margin: 0 0 rem(60);
    padding: rem(44) rem(10) 21.7%;
    border-radius: rem(12);
  }

  &__title {
    margin-bottom: vw($mobile, 17px);
    font-weight: bold;

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(21);
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    margin-bottom: vw($mobile, 19px);

    @media screen and (min-width: $desktop) {
      max-width: rem(450);
      margin: 0 auto rem(10);
      font-size: rem(20);
    }
  }

  &__pic {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      display: block;
      width: 100%;
    }
  }
}
