.header {
  $localesHeight: vw($mobile, 26px);
  $headerHeight: vw($mobile, 64);
  position: sticky;
  top: $localesHeight * -1;
  z-index: 5;
  height: vw($mobile, 64px);
  color: $white;

  & + .main {
    //padding-top: $headerHeight;
    padding-top: 0;
  }

  @media screen and (min-width: $desktop) {
    $localesHeight: rem(42);
    $headerHeight: rem(105);
    top: $localesHeight * -1;
    height: $headerHeight;
  }

  &__locales {
    font-size: vw($mobile, 12px);
    background-color: $black;

    @media screen and (min-width: $desktop) {
      font-size: rem(14);
    }
  }

  &__btn {
    display: none;

    @media screen and (min-width: $desktop) {
      display: inline-flex;
      margin-left: auto;
      padding: 0 rem(14);
    }
  }

  &__home-link {
    display: inline-flex;
  }
}

.header__logo {
  width: vw($mobile, 103px);

  @media screen and (min-width: $desktop) {
    width: rem(164);
  }
}

.header__burger {
  @extend %button-unstyled;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: vw($mobile, 16px);
  height: vw($mobile, 10px);
  background-color: inherit;
  border: 0;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: calc(100% + vw($mobile, 22px));
    height: calc(100% + vw($mobile, 22px));
  }

  &:focus {
    outline: none;
  }

  & > span {
    &,
    &:before,
    &:after {
      position: relative;
      left: 0;
      width: vw($mobile, 16px);
      height: 2px;
      background-color: $white;
      transition: top 0.25s ease-out, transform 0.25s ease-out;
    }

    &:before {
      content: '';
      position: absolute;
      top: vw($mobile, -4px);
    }

    &:after {
      content: '';
      position: absolute;
      top: vw($mobile, 4px);
    }
  }

  &--open {
    & > span {
      & {
        background-color: transparent;
      }

      &:before {
        top: 0;
        transform: rotate(-45deg);
      }

      &:after {
        top: 0;
        transform: rotate(45deg);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header-nav {
  $headerNavVerticalPadding: rem(11);
  padding: vw($mobile, 10px) 0;
  background-color: $accentColor;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.56);

  @media screen and (min-width: $desktop) {
    padding: $headerNavVerticalPadding 0;
  }

  &__navigation {
    display: flex;

    @media screen and (max-width: $desktop - 1) {
      align-items: center;
      justify-content: space-between;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;
      margin-left: 5%;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &--active {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem(6);
        background-color: $green;
        transform: translateY($headerNavVerticalPadding);
      }
    }

    & + & {
      margin-left: rem(32);
    }
  }

  &__link {
    display: block;
    font-size: rem(21);
    font-weight: 700;
    color: $white;

    &,
    &:hover {
      text-decoration: none;
    }
  }
}
