.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: vw($mobile, 65px);
  color: $white;

  @media screen and (min-width: $desktop) {
    height: rem(125); // TODO: check desktop
  }

  &__locales {
    background-color: $black;
    font-size: vw($mobile, 12px);
    @media screen and (min-width: $desktop) {
      font-size: rem(18);
    }
  }

  &__btn {
    display: none;
    @media screen and (min-width: $desktop) {
      display: inline-flex;
      background-color: $green;
      font-size: rem(26);
      padding: rem(11) rem(30);
      width: rem(335);
      font-weight: 700;
      height: rem(51);
    }
  }

  &__home-link {
    display: inline-flex;
  }
}

.header__logo {
  width: vw($mobile, 103px);

  @media screen and (min-width: $desktop) {
    width: 205px;
  }
}

.header__burger {
  @extend %button-unstyled;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: vw($mobile, 16px);
  height: vw($mobile, 10px);
  background-color: inherit;
  border: 0;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + vw($mobile, 22px));
    height: calc(100% + vw($mobile, 22px));
  }

  &:focus {
    outline-style: solid;
  }

  & > span {
    &,
    &:before,
    &:after {
      position: relative;
      left: 0;
      width: vw($mobile, 16px);
      height: 2px;
      background-color: $white;
      transition: top 0.25s ease-out, transform 0.25s ease-out;
    }

    &:before {
      content: "";
      position: absolute;
      top: vw($mobile, -4px);
    }

    &:after {
      content: "";
      position: absolute;
      top: vw($mobile, 4px);
    }
  }

  &--open {
    & > span {
      & {
        background-color: transparent;
      }

      &:before {
        top: 0;
        transform: rotate(-45deg);
      }

      &:after {
        top: 0;
        transform: rotate(45deg);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header-locales {
  padding: vw($mobile, 7px) 0;
  @media screen and (min-width: $desktop) {
    padding: rem(16) 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    flex: 1 1 50%;
    font-weight: 700;
    line-height: 1;
    $arrowIconSize: 3px;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: vw($mobile, $arrowIconSize) solid transparent;
      border-right: vw($mobile, $arrowIconSize) solid transparent;
      border-top: vw($mobile, $arrowIconSize) solid currentColor;
      margin-left: vw($mobile, 8px);
      transform: translateY(vw($mobile, 3px));
    }

    @media screen and (min-width: $desktop) {
      flex: 0 1 auto;
      cursor: pointer;
      $arrowIconSize: 5px;

      & + & {
        margin-left: rem(45);
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: rem($arrowIconSize) solid transparent;
        border-right: rem($arrowIconSize) solid transparent;
        border-top: rem($arrowIconSize) solid currentColor;
        margin-left: rem(12);
        transform: translateY(rem(5px));
      }
    }
  }
}

.header-nav {
  padding: vw($mobile, 10px) 0;
  background-color: $accentColor;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.56);
  $headerNavVerticalPadding: rem(13);

  @media screen and (min-width: $desktop) {
    padding: $headerNavVerticalPadding 0;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        transform: translateY($headerNavVerticalPadding);
        display: block;
        width: 100%;
        height: rem(8);
        background-color: $green;
        bottom: 0;
      }
    }
    & + & {
      margin-left: 48px;
    }
  }

  &__link {
    color: $white;
    font-size: rem(26);
    font-weight: 700;
    display: block;

    &, &:hover {
      text-decoration: none;
    }
  }
}
