.orders {
  padding: vw($mobile, 40px) 0 vw($mobile, 7px);
  text-align: center;
  //font-size: vw($mobile, 14px);
  color: $white;
  background-color: #20183e;

  @media screen and (min-width: $desktop) {
    position: relative;
    padding: rem(167) 0 rem(129);
    text-align: left;
    //font-size: rem(26);
    /*background: #20183e url('../media/images/grad.png') no-repeat 0 0;*/
    background-image: radial-gradient(circle at -120% -350%, #51dfa9, #20183e);
    background-repeat: no-repeat;
  }

  &__content {

    @media screen and (min-width: $desktop) {
      position: relative;
      margin: 0 0 0 37%;
    }
  }

  &__title {
    margin-bottom: vw($mobile, 19px);
    color: inherit;

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(30);
    }
  }

  &__text {
    margin-bottom: vw($mobile, 22px);

    @media screen and (min-width: $desktop) {
      margin-bottom: 55px;
    }

    p + p {

      @media screen and (min-width: $desktop) {
        margin-top: rem(36);
      }
    }
  }

  &__list {
    @extend %list-iconed;
  }

  &__item {
    @extend %list-iconed__item;

    @media screen and (min-width: $desktop) {
      width: 41.5%;
    }
  }

  &__icon {
    width: vw($mobile, 24px);
    margin-top: vw($mobile, 3px);
    margin-right: vw($mobile, 15px);

    @media screen and (min-width: $desktop) {
      width: 39px;
      margin-top: 0;
      margin-right: 20px;
    }
  }

  &__pic {
    max-width: vw($mobile, 320px);
    margin: vw($mobile, 7px) vw($mobile, -12px) vw($mobile, 27px);

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: -113px;
      left: -1014px;
      width: 924px;
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
