.locales {
  padding: vw($mobile, 7px) 0;
  @media screen and (min-width: $desktop) {
    padding: rem(24) 0 rem(12);
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    display: flex;
    flex: 1 1 50%;
    font-weight: 700;
    line-height: 1;
    $arrowIconSize: 3px;
    color: $white;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: vw($mobile, $arrowIconSize) solid transparent;
      border-right: vw($mobile, $arrowIconSize) solid transparent;
      border-top: vw($mobile, $arrowIconSize) solid currentColor;
      margin-left: vw($mobile, 8px);
      transform: translateY(vw($mobile, 3px));
    }

    @media screen and (min-width: $desktop) {
      flex: 0 1 auto;
      cursor: pointer;
      $arrowIconSize: 5px;

      & + & {
        margin-left: rem(34);
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: rem($arrowIconSize) solid transparent;
        border-right: rem($arrowIconSize) solid transparent;
        border-top: rem($arrowIconSize) solid currentColor;
        margin-left: rem(12);
        transform: translateY(rem(5px));
      }
    }

    &--active {
      &::after {
        transform: rotate(180deg) translateY(vw($mobile, -3px));

        @media screen and (min-width: $desktop) {
          transform: rotate(180deg) translateY(rem(-6px));
        }
      }
    }
  }
}

.locale-dropdown {

  &__list {
    display: none;
    position: absolute;
    top: vw($mobile, 14px);
    left: 0;
    width: 70%;
    text-align: right;
    background-color: $white;
    border-radius: 3px;
    color: $accentColor;

    @media screen and (min-width: $desktop) {
      top: rem(22);
      width: 100%;
      transform: translate(rem(22), rem(-4));
    }

    &--expanded {
      display: block;
    }
  }

  &__item {
    padding: vw($mobile, 6px) vw($mobile, 18px);
    text-align: center;

    @media screen and (min-width: $desktop) {
      padding: 6px 22px;
    }

    // &:hover {
    //   background-color: $accentColor;
    // }
  }
}
