.footer {
  background-color: #170b45;

  &__locales {
    font-size: vw($mobile, 12px);
    background-color: $black;

    @media screen and (min-width: $desktop) {
      font-size: rem(18);
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: vw($mobile, 22px);

    @media screen and (min-width: $desktop) {
      display: block;
      grid-area: head;
      margin-bottom: rem(22);
    }
  }

  &__logo,
  &__contacts {
    width: calc(50% - vw($mobile, 14px));

    @media screen and (min-width: $desktop) {
      width: auto;
    }
  }

  &__contacts {

    @media screen and (min-width: $desktop) {
      padding-top: rem(20);
      padding-left: rem(40);
    }
  }

  &__logo {

    @media screen and (min-width: $desktop) {
      max-width: rem(205);
    }
  }

  &__nav {
    padding-top: vw($mobile, 24px);

    @media screen and (min-width: $desktop) {
      display: grid;
      grid-template-rows: rem(40) 1fr;
      grid-template-columns: 1.35fr 1fr 1.02fr;
      grid-template-areas:
        'menu locales head'
        'menu social head';
      align-items: start;
      padding-top: rem(18);
      row-gap: rem(15);
    }
  }

  &__link {
    display: block;
    font-size: vw($mobile, 14px);
    line-height: 1.4;

    @media screen and (min-width: $desktop) {
      font-size: rem(18);
    }

    &,
    &:hover {
      text-decoration: none;
    }

    &--mailto {
      color: $white;
    }
  }

  &__menu {
    margin-bottom: vw($mobile, 26px);
    column-count: 2;
    column-gap: vw($mobile, 22px);

    @media screen and (min-width: $desktop) {
      grid-area: menu;
      margin-bottom: rem(22);
      padding-right: 12%;
      font-size: rem(22);
      column-gap: rem(5);
    }
  }

  &__menu-item {
    & + & {
      margin-top: vw($mobile, 4px);

      @media screen and (min-width: $desktop) {
        margin-top: rem(10);
      }
    }
  }

  &__locales {

    @media screen and (min-width: $desktop) {
      display: none;

      .content-wrapper {
        padding: 0;
      }

      .locales__wrapper {
        display: block;
      }

      .locales__item + .locales__item {
        margin-top: 10px;
        margin-left: 0;
      }
    }

    &--desktop {
      display: none;

      @media screen and (min-width: $desktop) {
        display: block;
        grid-area: locales;
        padding: 0;
        font-size: rem(18);
        background-color: inherit;
      }
    }
  }

  &__social {

    @media screen and (max-width: $desktop - 1) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
      grid-area: social;
    }
  }
}
