.copyright {
  background-color: $black;
  padding: vw($mobile, 10px) 0;
  color: $white;
  font-size: vw($mobile, 10px);
  margin-top: vw($mobile, 20px);

  @media screen and (max-width: $desktop - 1) {
    letter-spacing: -0.01em;
  }
  @media screen and (min-width: $desktop) {
    padding: rem(10) 0;
    font-size: rem(16);
    margin-top: rem(10);
  }
}
