.modules {
  padding: vw($mobile, 40px) 0  vw($mobile, 36px);

  @media screen and (min-width: $desktop) {
    padding: rem(89) 0 rem(60);
  }

  &__wrapper {

    @media screen and (min-width: $desktop) {
      max-width: 1470px;
    }
  }

  &__title {
    margin: 0 5% vw($mobile, 40px);
    text-align: center;

    @media screen and (min-width: $desktop) {
      max-width: 1000px;
      margin: 0 auto rem(35);
    }
  }

  &__list {
    line-height: 1.4;

    @media screen and (max-width: $desktop - 1px) {
      font-size: vw($mobile, 18px);
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-weight: bold;
    }
  }

  &__item {
    //flex: 0 0 210px;

    @media screen and (max-width: $desktop - 1px) {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }

    @media screen and (min-width: $desktop) {
      flex: 0 0 170px;
      margin: 0 5.3% 36px;
      text-align: center;
    }
  }

  &__pic {

    @media screen and (max-width: $desktop - 1px) {
      max-width: vw($mobile, 32px);
      margin-right: vw($mobile, 16px);
    }

    @media screen and (min-width: $desktop) {
      display: block;
      margin: 0 auto 9px;
      width: 150px;
    }
  }
}
