.modules {
  padding: vw($mobile, 40px) 0  vw($mobile, 36px);

  @media screen and (min-width: $desktop) {
    padding: rem(89) 0 rem(60);
  }

  &__wrapper {

    @media screen and (min-width: $desktop) {
      max-width: rem(1470);
    }
  }

  &__title {
    margin: 0 5% vw($mobile, 40px);
    text-align: center;

    @media screen and (min-width: $desktop) {
      max-width: rem(1000);
      margin: 0 auto rem(35);
    }
  }

  &__list {
    line-height: 1.4;

    @media screen and (max-width: $desktop - 1px) {
      font-size: vw($mobile, 18px);
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-weight: bold;
    }
  }

  &__item {

    @media screen and (max-width: $desktop - 1px) {
      display: flex;
      align-items: center;
      margin-bottom: vw($mobile, 12px);
    }

    @media screen and (min-width: $desktop) {
      flex: 0 0 rem(170);
      margin: 0 5.3% rem(36);
      text-align: center;
    }
  }

  &__pic {

    @media screen and (max-width: $desktop - 1px) {
      max-width: vw($mobile, 32px);
      margin-right: vw($mobile, 16px);
    }

    @media screen and (min-width: $desktop) {
      display: block;
      margin: 0 auto rem(9);
      width: rem(150);
    }
  }
}
