.header__logo {
  margin-left: vw($mobile, -4px);
  width: vw($mobile, 30px);

  &--small {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &--full {
    display: none;

    @media screen and (min-width: $desktop) {
      display: block;
      margin-left: 0;
      width: auto;
    }
  }
}