.header__phone {
  display: none;
  color: inherit;
  text-decoration: none;

  @media screen and (min-width: $desktop) {
    display: block;
    position: relative;
    top: rem(-4);
    font-size: rem(24);
  }
}