.header__link-account {
  align-self: center;
  font-size: vw($mobile, 12px);
  color: inherit;
  text-decoration: none;

  @media screen and (min-width: $desktop) {
    flex-grow: 1;
    padding-left: rem(42);
    font-size: rem(12);
  }
}