<section class="couriers">
  <div class="content-wrapper">
    <h2 class="section-title couriers__title">Управление курьерами</h2>
    <div class="section-desc couriers__desc">
      <p>Назначайте курьеров на заказы в один клик, через список заказов или на карте
      </p>
    </div>
    <ul class="couriers__list">
      <li class="couriers__list-item"><img class="couriers__list-pic" src="media/images/icon.png" alt="">Курьеры на
        карте</li>
      <li class="couriers__list-item"><img class="couriers__list-pic" src="media/images/icon.png" alt="">Приложение
        для курьера</li>
      <li class="couriers__list-item"><img class="couriers__list-pic" src="media/images/icon.png" alt="">Подсветка
        тех, кто опаздывает</li>
    </ul>
  </div>
</section>
