<footer class="footer">
  <div class="locales footer__locales">
    <div class="content-wrapper locales__wrapper">
      <div class="locales__item">Страна: Россия</div>
      <div class="locales__item">Язык: Русский</div>
      <!-- <a class="lang-switcher__link" href="#">EN</a> | <span class="lang-switcher__current">RU</span> -->
    </div>
  </div>
  <nav class="content-wrapper footer__nav">
    <div class="footer__head">
      <img class="footer__logo" src="media/images/logo.svg" alt="">
      <div class="footer__contacts">
        <a class="footer__link footer__link--mailto" href="mailto:contact@deliverest.io">contact@deliverest.io</a>
        <a class="footer__link" href="#">Партнерам</a>
      </div>
    </div>
    <ul class="footer__menu">
      <li class="footer__menu-item"><a href="#" class="footer__link">Мобильное приложение</a></li>
      <li class="footer__menu-item"><a href="#" class="footer__link">Современный сайт</a></li>
      <li class="footer__menu-item"><a href="#" class="footer__link">Управление заказами</a></li>
      <li class="footer__menu-item"><a href="#" class="footer__link">Управление курьерами</a></li>
      <li class="footer__menu-item"><a href="#" class="footer__link">Управление кухней</a></li>
      <li class="footer__menu-item"><a href="#" class="footer__link">Аналитическая платформа</a></li>
      <li class="footer__menu-item"><a href="#" class="footer__link">Платформа маркетинга</a></li>
      <li class="footer__menu-item"><a href="#" class="footer__link">Финансовый учет</a></li>
    </ul>
    <ul class="social">
      <li class="social__item">
        <a href="#" class="social__lint">
          <img src="media/icons/social/instagram.svg" alt="" class="social__icon">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__lint">
          <img src="media/icons/social/telegram.svg" alt="" class="social__icon">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__lint">
          <img src="media/icons/social/telegram.svg" alt="" class="social__icon">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__lint">
          <img src="media/icons/social/telegram.svg" alt="" class="social__icon">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__lint">
          <img src="media/icons/social/telegram.svg" alt="" class="social__icon">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__lint">
          <img src="media/icons/social/telegram.svg" alt="" class="social__icon">
        </a>
      </li>
    </ul>
    &copy; 2014 — 2021 Deliverest, Автоматизация службы доставки еды
  </nav>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/main.js"></script>