<footer class="footer">
  <a href="#">Мобильное приложение</a>
  <a href="#">Современный сайт</a>
  <a href="#">Управление заказами</a>
  <a href="#">Управление курьерами</a>
  <a href="#">Управление кухней</a>
  <a href="#">Аналитическая платформа</a>
  <a href="#">Платформа маркетинга</a>
  <a href="#">Финансовый учет</a>
  Страна: Россия
  Язык: Русский
  <a href="mailto:contact@deliverest.io">contact@deliverest.io</a>
  <a href="#">Партнерам</a>
  &copy; 2014 — 2021 Deliverest, Автоматизация службы доставки еды
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/main.js"></script>
