<header class="header">
  <div class="locales header__locales">
    <div class="content-wrapper locales__wrapper">
      <div class="locales__item">Страна: Россия</div>
      <div class="locales__item">Язык: Русский</div>
      <!-- <a class="lang-switcher__link" href="#">EN</a> | <span class="lang-switcher__current">RU</span> -->
    </div>
  </div>
  <nav class="header-nav header__nav">
    <div class="content-wrapper header-nav__navigation">
      <a href="/" class="header__home-link"><img class="header__logo" src="media/images/logo.svg" alt=""></a>
      <ul class="header-nav__list">
        <li class="header-nav__item header-nav__item--active">
          <a class="header-nav__link header-nav__link--active" href="#">Модули системы</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Стоимость</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Контакты</a>
        </li>
      </ul>
      <button class="header__burger" type="button">
        <span></span>
      </button>
      <button class="button button--secondary header__btn js-open-modal" type="button">Запрос демоверсии</button>
    </div>
  </nav>
</header>
