<header class="header">
  <div class="locales header__locales">
    <div class="content-wrapper locales__wrapper">
      <div class="locales__item locale-dropdown">
        <div class="locale-dropdown__current">Страна: Россия</div>
        <ul class="locale-dropdown__list">
          <li class="locale-dropdown__item">Zimbabwe</li>
          <li class="locale-dropdown__item">UK</li>
          <li class="locale-dropdown__item">USA</li>
        </ul>
      </div>
      <div class="locales__item locale-dropdown">
        <div class="locale-dropdown__current">Язык: Русский</div>
        <ul class="locale-dropdown__list">
          <li class="locale-dropdown__item">English</li>
          <li class="locale-dropdown__item">Espanol</li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="header-nav header__nav">
    <div class="content-wrapper header-nav__navigation">
      <a href="/" class="header__home-link"><img class="header__logo" src="media/images/logo.svg" alt=""></a>
      <ul class="header-nav__list">
        <li class="header-nav__item header-nav__item--active">
          <a class="header-nav__link header-nav__link--active" href="#">Модули системы</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Стоимость</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Контакты</a>
        </li>
      </ul>
      <button class="header__burger" type="button">
        <span></span>
      </button>
      <button class="button button--secondary button--small header__btn js-open-modal" type="button">Запрос демоверсии</button>
    </div>
  </nav>
</header>
