<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Главная</title>
  @@include('./includes/_head.html')
</head>

<body>
  <div class="page-layout">
    @@include('./includes/_header.html')
    <main class="main">
      <section class="intro">
        <div class="content-wrapper intro__wrapper">
          <div class="intro__pic">
            <picture>
              <source type="image/webp" srcset="media/images/intro@1x.webp 1x, media/images/intro@2x.webp 2x">
              <img src="media/images/intro@1x.png" srcset="media/images/intro@1x.png 1x" alt="">
            </picture>
          </div>
          <h1 class="intro__title">
            Облачная платформа для&nbsp;службы доставки еды
          </h1>
          <button class="button button--primary intro__btn js-open-modal" type="button">Запрос демоверсии</button>
        </div>
      </section>
      <section class="modules">
        <div class="content-wrapper modules__wrapper">
          <h2 class="section-title modules__title">Восемь модулей, чтобы построить свою доставку еды</h2>
          <ul class="modules__list">
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module1.svg" alt="">
              <a href="#">Мобильное приложение</a>
            </li>
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module2.svg" alt="">
              <a href="#">Современный сайт</a>
            </li>
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module3.svg" alt="">
              <a href="#">Управление заказами</a>
            </li>
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module4.svg" alt="">
              <a href="#">Управление курьерами</a>
            </li>
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module5.svg" alt="">
              <a href="#">Управление кухней</a>
            </li>
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module6.svg" alt="">
              <a href="#">Аналитическая платформа</a>
            </li>
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module7.svg" alt="">
              <a href="#">Платформа маркетинга</a>
            </li>
            <li class="modules__item">
              <img class="modules__pic" src="media/images/icon-module8.svg" alt="">
              <a href="#">Финансовый учет</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="application">
        <div class="content-wrapper application__wrapper">
          <div class="application__content">
            <h2 class="section-title application__title">Мобильное приложение, продуманное до&nbsp;мелочей</h2>
            <div class="application__text">
              <p>Мы&nbsp;брендируем приложение под каждую доставку, поэтому оно выглядит как неотъемлемая часть компании,
                а&nbsp;не&nbsp;как
                безликий конструктор.</p>
            </div>
            <ul class="application__list">
              <li class="application__item">
                <img class="application__icon" src="media/images/icon.png" alt="">
                Быстрое и&nbsp;стабильное
              </li>
              <li class="application__item">
                <img class="application__icon" src="media/images/icon.png" alt="">
                Отправка уведомлений
              </li>
              <li class="application__item">
                <img class="application__icon" src="media/images/icon.png" alt="">
                Полная интеграция с&nbsp;CRM
              </li>
              <li class="application__item">
                <img class="application__icon" src="media/images/icon.png" alt="">
                Промокоды, бонусы и&nbsp;скидки
              </li>
              <li class="application__item">
                <img class="application__icon" src="media/images/icon.png" alt="">
                Отслеживание курьера
              </li>
              <li class="application__item">
                <img class="application__icon" src="media/images/icon.png" alt="">
                ApplePay, GPay и&nbsp;карты
              </li>
            </ul>
            <div class="application__phones">
              <picture>
                <source type="image/webp" srcset="media/images/phones.webp 1x">
                <img src="media/images/phones.png" srcset="media/images/phones.png 1x" alt="">
              </picture>
            </div>
          </div>
        </div>
      </section>
      <section class="website">
        <div class="content-wrapper">
          <div class="website__content">
            <h2 class="section-title website__title">Современный cайт</h2>
            <p>В&nbsp;течение всего нескольких дней вы получаете современный и&nbsp;функциональный сайт, о&nbsp;котором
              можно только мечтать большинству служб доставок.</p>
            <p>Все наши сайты адаптируются под мобильные телефоны.</p>
            <div class="website__pic">
              <picture>
                <!--<source srcset="img/mobile.jpg 1x, img/mobile@2x.jpg 2x" media="(max-width: 1024px) ">
              <source srcset="img/mobile.webp 1x, img/mobile@2x.webp 2x" media="(max-width: 1024px)">-->
                <source type="image/webp" srcset="media/images/laptopbook@1x.webp 1x, media/images/laptopbook@2x.webp 2x">
                <img src="media/images/laptopbook@1x.png" srcset="media/images/laptopbook@1x.png 1x" alt="">
              </picture>
            </div>
            <p>Сайты в&nbsp;Deliverest&nbsp;&mdash; это часть платформы, с&nbsp;удобной системой управления, встроенными рекламными инструментами.
              Сайт брендируется под ваш фирменный стиль и&nbsp;оптимизируется для поисковых систем.</p>
          </div>
        </div>
      </section>
      <section class="orders">
        <div class="content-wrapper">
          <div class="orders__content">
            <h2 class="section-title orders__title">Управление заказами</h2>
            <div class="orders__text">
              <p>Наша система разработана для профессиональных служб доставки еды с&nbsp;сотнями и&nbsp;тысячами заказов
                в&nbsp;день.</p>
              <p>Админ-панель позволяет с&nbsp;легкостью управлять как одним филиалом, так и&nbsp;сетью из&nbsp;нескольких
                подразделений в&nbsp;разных локациях.</p>
            </div>
            <ul class="orders__list">
              <li class="orders__item">
                <img class="orders__icon" src="media/images/icon.png" alt="">
                Заказы со всех источников
              </li>
              <li class="orders__item">
                <img class="orders__icon" src="media/images/icon.png" alt="">
                Фильтрация и поиск
              </li>
              <li class="orders__item">
                <img class="orders__icon" src="media/images/icon.png" alt="">
                Заказы со всех источников
              </li>
              <li class="orders__item">
                <img class="orders__icon" src="media/images/icon.png" alt="">
                Фильтрация и поиск
              </li>
            </ul>
            <div class="orders__pic">
              <picture>
                <source srcset="media/images/table-mob@2x.png 1x, media/images/table-mob@2x.png 2x" media="(max-width: 1024px) ">
                <source srcset="media/images/table-mob@2x.webp 1x, media/images/table-mob@2x.webp 2x" media="(max-width: 1024px)">
                <source type="image/webp" srcset="media/images/table@1x.webp 1x, media/images/table@2x.webp 2x">
                <img src="media/images/table@1x.png" srcset="media/images/table@1x.png 1x" alt="">
              </picture>
            </div>
          </div>
        </div>
      </section>
      <section class="couriers">
        <div class="content-wrapper">
          <div class="couriers__content">
            <h2 class="section-title couriers__title">Управление курьерами</h2>
            <div class="couriers__desc">
              <p>Назначайте курьеров на заказы в один клик, через список заказов или на карте</p>
            </div>
            <ul class="couriers__list">
              <li class="couriers__list-item"><img class="couriers__list-pic" src="media/images/icon.png" alt="">Курьеры на карте</li>
              <li class="couriers__list-item"><img class="couriers__list-pic" src="media/images/icon.png"
                                                   alt="">Приложение для курьера</li>
              <li class="couriers__list-item"><img class="couriers__list-pic" src="media/images/icon.png" alt="">Подсветка тех, кто опаздывает</li>
            </ul>
            <div class="couriers__pic">
              <picture>
                <!--TODO: screen breakpoints-->
                <!--<source type="image/webp" srcset="media/images/map-phone-mob@1x.webp 1x" media="(max-width: 1024px)">-->
                <source srcset="media/images/map-phone-mob@1x.png 1x" media="(max-width: 1024px)">
                <source type="image/webp" srcset="media/images/phone@1x.webp 1x, media/images/phone@2x.webp 2x">
                <img src="media/images/phone@1x.png" srcset="media/images/phone@1x.png 1x" alt="">
              </picture>
            </div>
          </div>
        </div>
      </section>
      <section class="kitchen">
        <div class="kitchen__outer">
          <div class="content-wrapper">
            <div class="kitchen__content">
              <h2 class="section-title kitchen__title">Управление кухней</h2>
              <div class="kitchen__desc">
                <p>Наша система разработана для профессиональных служб доставки еды с&nbsp;сотнями и&nbsp;тысячами заказов в&nbsp;день.</p>
                <p>Продуманная система мониторов для повара или всего цеха, автоматическая печать чеков, планирование загрузки кухни&nbsp;&mdash; все это обеспечит четкую и&nbsp;бесперебойную работу вашему производству.</p>
              </div>
              <div class="kitchen__pic">
                <picture>
                  <!--TODO: screen breakpoints-->
                  <!-- <source type="image/webp" srcset="media/images/map-phone-mob@1x.webp 1x" media="(max-width: 1024px)"> -->
                  <source srcset="media/images/kitchen-mob@1x.png 1x" media="(max-width: 1024px)">
                  <source type="image/webp" srcset="media/images/kitchen.webp 1x">
                  <img src="media/images/kitchen.png" srcset="media/images/kitchen.png 1x" alt="">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="analytics">
        <div class="content-wrapper">
          <h2 class="section-title analytics__title">Аналитическая платформа</h2>
          <div class="analytics__custom-slider custom-slider">
            <div class="custom-slider__nav custom-nav1"></div>
            <div class="custom-slider__wrapper">
              <div class="js-slider">
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">1Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide1.png" alt="">
                  </div>
                </div>
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">2Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide2.png" alt="">
                  </div>
                </div>
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">3Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide3.png" alt="">
                  </div>
                </div>
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">4Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide4.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="marketing">
        <div class="content-wrapper">
          <h2 class="section-title marketing__title">Платформа маркетинга</h2>
          <div class="marketing__text">
            <p>Мы&nbsp;объединили в&nbsp;одну систему эффективные инструменты для привлечения и&nbsp;удержания клиентов.</p>
          </div>
          <div class="marketing__nav"></div>
          <div class="marketing__list js-slider-mob">
            <div class="marketing-slide">
              <div class="marketing-slide__title">Кэшбек</div>
              <div class="marketing-slide__text">
                <p>Бесплатный, быстрый и эффективный канал для общения с клиентами и их оповещения о новых акциях</p>
              </div>
              <div class="marketing-slide__pic">
                <picture>
                  <source type="image/webp" srcset="media/images/mar1@1x.webp 1x, media/images/mar1@2x.webp 2x">
                  <img src="media/images/mar1@1x.png"
                       srcset="media/images/mar1@1x.png 1x, media/images/mar1@2x.png 2x" alt="">
                </picture>
              </div>
            </div>
            <div class="marketing-slide">
              <div class="marketing-slide__title">Кэшбек</div>
              <div class="marketing-slide__text">
                <p>Бесплатный, быстрый и эффективный канал для общения с клиентами и их оповещения о новых акциях</p>
              </div>
              <div class="marketing-slide__pic">
                <picture>
                  <source type="image/webp" srcset="media/images/mar2@1x.webp 1x, media/images/mar2@2x.webp 2x">
                  <img src="media/images/mar2@1x.png"
                       srcset="media/images/mar2@1x.png 1x, media/images/mar2@2x.png 2x" alt="">
                </picture>
              </div>
            </div>
            <div class="marketing-slide">
              <div class="marketing-slide__title">Кэшбек</div>
              <div class="marketing-slide__text">
                <p>Бесплатный, быстрый и эффективный канал для общения с клиентами и их оповещения о новых акциях</p>
              </div>
              <div class="marketing-slide__pic">
                <picture>
                  <source type="image/webp" srcset="media/images/mar3@1x.webp 1x, media/images/mar3@2x.webp 2x">
                  <img src="media/images/mar3@1x.png"
                       srcset="media/images/mar3@1x.png 1x, media/images/mar3@2x.png 2x" alt="">
                </picture>
              </div>
            </div>
            <div class="marketing-slide">
              <div class="marketing-slide__title">Кэшбек</div>
              <div class="marketing-slide__text">
                <p>Бесплатный, быстрый и эффективный канал для общения с клиентами и их оповещения о новых акциях</p>
              </div>
              <div class="marketing-slide__pic">
                <picture>
                  <source type="image/webp" srcset="media/images/mar4@1x.webp 1x, media/images/mar4@2x.webp 2x">
                  <img src="media/images/mar4@1x.png"
                       srcset="media/images/mar4@1x.png 1x, media/images/mar4@2x.png 2x" alt="">
                </picture>
              </div>
            </div>
            <div class="marketing-slide">
              <div class="marketing-slide__title">Кэшбек</div>
              <div class="marketing-slide__text">
                <p>Бесплатный, быстрый и эффективный канал для общения с клиентами и их оповещения о новых акциях</p>
              </div>
              <div class="marketing-slide__pic">
                <picture>
                  <source type="image/webp" srcset="media/images/mar5@1x.webp 1x, media/images/mar5@2x.webp 2x">
                  <img src="media/images/mar5@1x.png"
                       srcset="media/images/mar5@1x.png 1x, media/images/mar5@2x.png 2x" alt="">
                </picture>
              </div>
            </div>
            <div class="marketing-slide">
              <div class="marketing-slide__title">Кэшбек</div>
              <div class="marketing-slide__text">
                <p>Бесплатный, быстрый и эффективный канал для общения с клиентами и их оповещения о новых акциях</p>
              </div>
              <div class="marketing-slide__pic">
                <picture>
                  <source type="image/webp" srcset="media/images/mar6@1x.webp 1x, media/images/mar6@2x.webp 2x">
                  <img src="media/images/mar6@1x.png"
                       srcset="media/images/mar6@1x.png 1x, media/images/mar6@2x.png 2x" alt="">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="finance">
        <div class="content-wrapper">
          <h2 class="section-title finance__title">Финансовый учет</h2>
          <div class="finance__custom-slider custom-slider">
            <div class="custom-slider__nav custom-nav2"></div>
            <div class="custom-slider__wrapper">
              <div class="js-slider2">
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">1Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide1.png" alt="">
                  </div>
                </div>
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">2Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide2.png" alt="">
                  </div>
                </div>
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">3Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide3.png" alt="">
                  </div>
                </div>
                <div class="slide-item">
                  <div class="custom-slider__slide slide">
                    <div class="slide__text">4Мы разработали множество интересных и&nbsp;полезных отчетов, а&nbsp;также придумали систему с&nbsp;оповещениями ваших сотрудников о&nbsp;различных метриках и&nbsp;ситуациях</div>
                    <img class="slide__img" src="media/images/slide4.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="price">
        <div class="content-wrapper">
          <h2 class="section-title price__title">Стоимость</h2>
          <div class="price__text">
            <p>Вы&nbsp;получаете все возможности нашей системы и&nbsp;платите только за&nbsp;доставленные заказы, мы&nbsp;напрямую заинтересованы в&nbsp;вашем развитии и&nbsp;со&nbsp;своей стороны предоставляем все необходимое для успеха.</p>
          </div>
          <div class="price__box price-box">
            <div class="price-box__sum">
              <div class="price-box__number">1<sup>%</sup></div>
              <div class="price-box__title">От&nbsp;оборота</div>
              <div class="price-box__subtitle">(но&nbsp;не&nbsp;менее 10&nbsp;000&nbsp;&#8381; в&nbsp;месяц)</div>
            </div>
            <div class="price-box__descr">
              <strong>Что входит в&nbsp;абонентскую плату:</strong>
              <ul class="price-box__list">
                <li>Все возможности системы</li>
                <li>Выделенный сервер для быстрой работы</li>
                <li>Техническая поддержка</li>
                <li>Регулярные обновления системы</li>
              </ul>
            </div>
          </div>
          <div class="price__notice">* Обычно стоимость внедрения составляет 160 долларов</div>
        </div>
      </section>
      <section class="contacts">
        <div class="content-wrapper">
          <h2 class="section-title contacts__title">Контакты</h2>
          <div class="contacts__text">
            Можете связаться с нами в любом удобном для вас мессенджере или написать на почту <a
            href="mailto:contact@deliverest.io">contact@deliverest.io</a>
          </div>
          <ul class="contacts__messengers">
            <li class="contacts__item"><a class="contacts__link" href="#"><img src="media/icons/social/whatsapp.svg"
                                                                               alt="instagram" class="contacts__link-icon">WhatsApp</a></li>
            <li class="contacts__item"><a class="contacts__link" href="#"><img src="media/icons/social/viber.svg"
                                                                               alt="viber" class="contacts__link-icon">Viber</a></li>
            <li class="contacts__item"><a class="contacts__link" href="#"><img src="media/icons/social/telegram.svg"
                                                                               alt="telegram" class="contacts__link-icon">Telegram</a></li>
          </ul>
          <button class="button button--primary contacts__btn js-open-modal" type="button">Запрос демоверсии</button>
        </div>
      </section>
    </main>
    @@include('./includes/_footer.html')
  </div>
  <div class="layout">
    <div class="modal">
      <button class="modal__close" type="button" title="Закрыть">
        <img src="media/images/icon-close.svg" alt="">
      </button>
      <div class="modal__content form-request">
        <h3 class="form-request__title">Запрос демоверсии</h3>
        <div class="form-request__text">
          <p>Вы можете оставить свои контактные данные и все, что сочтете
            нужным, а какой-то чувак позвонит вам или напишет, чтобы обговорить
            всю херню. После чего по Скайпу покажет нашу систему и попытается
            вас впечатлить.</p>
        </div>
        <form class="form-request__form">
          <div class="field">
            <label class="floating-label" for="name">
              <input class="text-field floating-label__input" name="name" id="name" placeholder="Как вас зовут*"
                value="Константин">
              <span class="floating-label__label">Как вас зовут*</span>
            </label>
          </div>
          <div class="field">
            <label class="floating-label" for="country">
              <!--<input class="text-field floating-label__input" name="country" id="country" placeholder="Страна*"
                value="Россия">-->
              <select class="chosen-select" name="country" id="country" data-placeholder=".">
                <option value=""></option>
                <option value="Россия">Россия</option>
                <option value="Россия">Казахстан</option>
                <option value="Россия">Белоруссия</option>
                <option value="Россия">Узбекистан</option>
              </select>
              <span class="floating-label__label">Страна*</span>
            </label>
          </div>
          <div class="field">
            <label class="floating-label" for="email">
              <input class="text-field floating-label__input" name="email" id="email" placeholder="Электронная почта*">
              <span class="floating-label__label">Электронная почта*</span>
            </label>
          </div>
          <div class="field">
            <span class="pre-label">+7</span>
            <label class="floating-label" for="phone">
              <input class="text-field floating-label__input" name="phone" id="phone" placeholder="Телефон*">
              <span class="floating-label__label">Телефон*</span>
            </label>
          </div>
          <div class="field field--full-width">
            <label class="floating-label" for="comments">
              <textarea class="text-field floating-label__input" name="comments" id="comments"
                placeholder="Комментарий"></textarea>
              <span class="floating-label__label">Комментарий</span>
            </label>
          </div>
          <button class="button button--primary button--small form-request__btn" type="button">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
