<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Главная</title>
  @@include('./includes/_head.html')
</head>
<body>
@@include('./includes/_header.html')
<main class="main">
  <section class="intro">
    <div class="content-wrapper">
      <h1 class="intro__title">
        Облачная платформа для&nbsp;службы доставки еды
      </h1>
      <button class="button button--primary intro__btn" type="button">Запрос демоверсии</button>
    </div>
  </section>
  <section class="modules">
    <div class="content-wrapper">
      <h2 class="section-title modules__title">Восемь модулей, чтобы построить свою доставку еды</h2>
      <ul class="modules__list">
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Мобильное приложение</a>
        </li>
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Современный сайт</a>
        </li>
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Управление заказами</a>
        </li>
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Управление курьерами</a>
        </li>
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Управление кухней</a>
        </li>
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Аналитическая платформа</a>
        </li>
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Платформа маркетинга</a>
        </li>
        <li class="modules__item">
          <img class="modules__pic" src="media/images/circle-green.svg" alt="">
          <a href="#">Финансовый учет</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="application">
    <div class="content-wrapper">
      <h2 class="section-title application__title">Мобильное приложение, продуманное до&nbsp;мелочей</h2>
      <div class="application__text">
        <p>Мы брендируем приложение под каждую доставку, поэтому оно выглядит как неотъемлемая часть компании, а&nbsp;не&nbsp;как
          безликий конструктор.</p>
      </div>
      <ul class="application__list">
        <li class="application__item">Быстрое и&nbsp;стабильное</li>
        <li>Полная интеграция с&nbsp;CRM</li>
        <li>Отслеживание курьера</li>
        <li>Отправка уведомлений</li>
        <li>Промокоды, бонусы и&nbsp;скидки</li>
        <li>ApplePay, GPay и&nbsp;карты</li>
      </ul>
    </div>
  </section>
  <section class="website">
    <h2>Современный cайт</h2>
    <p>В течение всего нескольких дней вы получаете современный и&nbsp;функциональный сайт, о&nbsp;котором можно только мечтать
      большинству служб доставок.</p>
    <p>Все наши сайты адаптируются под мобильные телефоны.</p>
    <p>Сайты в Deliverest – это часть платформы, с&nbsp;удобной системой управления, встроенными рекламными инструментами.
      Сайт брендируется под ваш фирменный стиль и&nbsp;оптимизируется для поисковых систем.</p>
  </section>
  <section class="orders">
    <h2>Управление заказами</h2>
    <p>Наша система разработана для профессиональных служб доставки еды с сотнями и тысячами заказов в день.</p>
    <p>Админ-панель позволяет с легкостью управлять как одним филиалом, так и сетью из нескольких подразделений в разных
      локациях.</p>
    <ul>
      <li>Заказы со всех источников</li>
      <li>Заказы со всех источников</li>
      <li>Фильтрация и поиск</li>
      <li>Фильтрация и поиск</li>
    </ul>
  </section>
  <section class="couriers">
    <h2>Управление курьерами</h2>
    <p>Назначайте курьеров на заказы в один клик, через список заказов или на карте</p>
    <ul>
      <li>Курьеры на карте</li>
      <li>Приложение для курьера</li>
      <li>Подсветка тех, кто опаздывает</li>
    </ul>
  </section>
  <section class="kitchen">
    <h2>Управление кухней</h2>
    <p>Наша система разработана для профессиональных служб доставки еды с сотнями и тысячами заказов в день.</p>
    <p>Продуманная система мониторов для повара или всего цеха, автоматическая печать чеков, планирование загрузки кухни
      — все это обеспечит четкую и бесперебойную работу вашему производству.</p>
  </section>
  <section class="analytics">
    <h2>Аналитическая платформа</h2>
    Мы разработали множество интересных и полезных отчетов, а также придумали систему с оповещениями ваших сотрудников о
    различных метриках и ситуациях
  </section>
  <section class="marketing">
    <h2>Платформа маркетинга</h2>
    Мы объединили в одну систему эффективные инструменты для привлечения и удержания клиентов.
  </section>
  <section class="finance">
    <h2>Финансовый учет</h2>
    Мы разработали множество интересных и полезных отчетов, а также придумали систему с оповещениями ваших сотрудников о
    различных метриках и ситуациях
    Стоимость
    Вы получаете все возможности нашей системы и платите только за доставленные заказы, мы напрямую заинтересованы в
    вашем развитии и со своей стороны предоставляем все необходимое для успеха.
    1 % От оборота (но не менее 10 000 a в месяц)
    Что входит в абонентскую плату:
    • Все возможности системы
    • Выделенный сервер для быстрой работы
    • Техническая поддержка
    • Регулярные обновления системы
    * Обычно стоимость внедрения составляет 160 долларов
  </section>
  <section class="contacts">
    <h2>Контакты</h2>
    <div class="contacts__text">
      Можете связаться с нами в любом удобном для вас мессенджере или написать на почту <a
      href="mailto:contact@deliverest.io">contact@deliverest.io</a>
    </div>
    <ul class="contacts__messengers">
      <li><a href="#">WhatsApp</a></li>
      <li><a href="#">Viber</a></li>
      <li><a href="#">Telegram</a></li>
    </ul>
    <button class="button button--primary contacts__btn" type="button">Запрос демоверсии</button>
  </section>
</main>
@@include('./includes/_footer.html')
</body>
</html>
