.website {
  padding: vw($mobile, 43px) 0 vw($mobile, 42px);
  text-align: center;

  @media screen and (min-width: $desktop) {
    position: relative;
    padding: rem(120) 0 rem(134);
    text-align: left;
  }

  &__content {

    @media screen and (min-width: $desktop) {
      position: relative;
      margin: 0 31.5% 0 0;
    }
  }

  &__title {
    margin-bottom: vw($mobile, 20px);

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(33);
    }
  }

  p {

    @media screen and (min-width: $desktop) {
      margin-top: rem(12);
    }
  }

  &__pic {
    width: vw($mobile, 298px);
    margin: vw($mobile, 26px) auto vw($mobile, 27px);

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: rem(-171);
      right: rem(-959);
      width: rem(1001);
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
