.text-field {
  @extend %input-unstyled;
  height: vw($mobile, 18px);
  padding: 0;
  font-size: vw($mobile, 14px);
  color: $defaultText;
  border: 0;
  border-bottom: 2px solid rgba(23, 11, 69, 0.12);

  @media screen and (min-width: $desktop) {
    height: rem(28);
    font-size: rem(21);
  }

  @at-root textarea#{&} {
    min-height: vw($mobile, 21px);
    padding-top: vw($mobile, 11px);
    resize: vertical;
    overflow: hidden;

    @media screen and (min-width: $desktop) {
      min-height: rem(28);
      padding-top: rem(11);
    }

    &--expanded {
      min-height: vw($mobile, 50px);
      overflow: initial;

      @media screen and (min-width: $desktop) {
        min-height: rem(90);
      }
    }
  }

  &--error {
    // box-shadow: 0 0 0 1px rgba(#F43319, 0.8);
  }

  &:focus {
    outline: 0;
    border-color: $accentColor;
  }

  &:disabled {

    &::placeholder {
      opacity: 0.5;
    }
  }
}

.field {
  display: flex;
  margin-bottom: vw($mobile, 20px);

  @media screen and (min-width: $desktop) {
    width: rem(259);
    margin-bottom: rem(38);
  }

  &--full-width {
    width: 100% !important;
  }

  .pre-label {
    margin-right: vw($mobile, 10px);

    @media screen and (min-width: $desktop) {
      margin-right: rem(17);
    }
  }
}

.floating-label {
  position: relative;
  flex-grow: 1;

  &__input {
    width: 100%;
  }

  &__input::placeholder {
    opacity: 0;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: #9a9a9a;
    transform: translateY(0);
    transition-duration: 300ms;
  }

  &:focus-within > &__input,
  &__input:not(:placeholder-shown) {
    border-color: $accentColor;
  }

  &:focus-within > &__label,
  &__input:not(:placeholder-shown) + &__label,
  .chosen-container.updated + &__label {
    font-size: vw($mobile, 10px);
    color: $accentColor;
    transform: translateY(-11px);

    @media screen and (min-width: $desktop) {
      font-size: rem(13);
      transform: translateY(-17px);
    }
  }

  .chosen-container + &__label {
    pointer-events: none;
  }
}

.chosen-container {
  font-size: vw($mobile, 14px);

  @media screen and (min-width: $desktop) {
    font-size: rem(21);
  }

  .chosen-default {
    span {
      display: none;
    }
  }

  .chosen-single {
    height: vw($mobile, 18px);
    padding-left: 0;
    background: none;
    border: solid rgba(23, 11, 69, 0.12);
    border-width: 0 0 2px;
    border-radius: 0;
    box-shadow: none;

    @media screen and (min-width: $desktop) {
      height: rem(28);
    }
  }

  .chosen-drop {
    border-color: transparent;
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.3));
  }

  .chosen-results {
    margin: 0;
    padding: 0;

    li {
      padding: 15px 16px;

      &.highlighted {
        color: inherit;
        background: #f4f4f5;
      }
    }
  }

  &.updated {
    .chosen-single {
      border-color: $accentColor;
    }
  }
}

.chosen-container-active.chosen-with-drop {
  .chosen-single {
    background-image: none;
    border-color: $accentColor;
    border-width: 0 0 3px;
  }
}
