.analytics {
  position: relative;
  padding: vw($mobile, 40px) 0 0;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding: rem(70) 0 rem(15);
  }

  &__title {
    margin-bottom: vw($mobile, 17px);

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(54);
    }
  }
}
