.price {
  padding: 0 0 vw($mobile, 42px);

  @media screen and (min-width: $desktop) {
    padding: 0 0 rem(76);
  }

  &__title {
    margin-bottom: vw($mobile, 10px);
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(21);
    }
  }

  &__text {
    margin: 0 vw($mobile, -3px) vw($mobile, 26px);
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin: 0 0 rem(29);
    }
  }

  &__box {

    @media screen and (min-width: $desktop) {
      margin: 0 rem(20);
    }
  }

  &__notice {
    margin-top: vw($mobile, 17px);
    font-weight: 700;
    color: #b1b1b1;

    @media screen and (min-width: $desktop) {
      margin-top: rem(33);
      margin-left: rem(18);
    }
  }
}

.price-box {
  padding: vw($mobile, 5px) vw($mobile, 11px) vw($mobile, 4px);
  background-color: $white;
  border-radius: vw($mobile, 6px);
  filter: drop-shadow(0 vw($mobile, 3px) vw($mobile, 20px) rgba(23, 11, 69, 0.12));

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    padding: rem(10) rem(11) rem(37);
    border-radius: rem(6);
    filter: drop-shadow(0 3px 20px rgba(23, 11, 69, 0.12));
  }

  &__sum {
    margin-bottom: vw($mobile, 23px);
    text-align: center;

    @media screen and (min-width: $desktop) {
      width: rem(360);
      margin-right: rem(46);
      margin-bottom: 0;
    }
  }

  &__number {
    margin-bottom: vw($mobile, -6px);
    font-size: vw($mobile, 110px);
    font-weight: 700;
    line-height: 1;
    color: $green;

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(-8);
      font-size: rem(176);
    }

    sup {
      position: relative;
      top: vw($mobile, 14px);
      left: vw($mobile, -9px);
      font-size: vw($mobile, 55px);

      @media screen and (min-width: $desktop) {
        top: rem(20);
        left: rem(-11);
        font-size: rem(88);
      }
    }
  }

  &__title {
    margin-bottom: vw($mobile, -4px);
    font-size: vw($mobile, 19px);
    font-weight: 700;
    color: $green;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(-1);
      font-size: rem(30);
    }
  }

  &__subtitle {
    font-size: vw($mobile, 8px);
    font-weight: 400;
    color: #9a9a9a;

    @media screen and (min-width: $desktop) {
      font-size: rem(13);
    }
  }

  &__descr {

    @media screen and (min-width: $desktop) {
      position: relative;
      top: rem(16);
      padding: rem(10) 0;

      &:before {
        content: '';
        position: absolute;
        top: -4%;
        left: rem(-63);
        width: rem(2);
        height: 104%;
        background-color: $lightGray;
      }
    }
  }

  &__list {
    margin-top: vw($mobile, 2px);

    @media screen and (min-width: $desktop) {
      margin-top: rem(2);
    }

    li {
      position: relative;
      padding: vw($mobile, 2px) 0 vw($mobile, 2px) vw($mobile, 9px);

      @media screen and (min-width: $desktop) {
        padding: rem(4) 0 rem(4) rem(12);
      }

      &:before {
        content: '\2022';
        position: absolute;
        top: vw($mobile, -1px);
        left: 0;
        font-size: vw($mobile, 18px);

        @media screen and (min-width: $desktop) {
          top: rem(3);
          font-size: rem(23);
        }
      }
    }
  }
}
