.application {
  position: relative;
  padding: vw($mobile, 40px) 0 vw($mobile, 49px);
  //font-size: vw($mobile, 14px);
  color: $white;
  background: $accentColor linear-gradient(to top, #7d5fea 0%, #302063 100%);

  @media screen and (max-width: $desktop - 1px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    padding: rem(140) 0 rem(138);
    overflow: hidden;
    //line-height: 1.39;
    //font-size: rem(26);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../media/images/D.png') no-repeat vw($mobile, -390px) vw($mobile, -190px);
    background-size: vw($mobile, 550px);

    @media screen and (min-width: $desktop) {
      background-position: rem(-210) rem(-300);
      background-size: rem(898);
    }

    @supports (background-image: image-set(url('../media/images/D.webp') 1x)) {
      background-image: url('../media/images/D.webp');
    }
  }

  &__wrapper {
    position: relative;
  }

  &__content {

    @media screen and (min-width: $desktop) {
      position: relative;
      margin: 0 0 0 33.1%;
    }
  }

  &__title {
    margin-bottom: vw($mobile, 14px);
    color: inherit;

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(23);
    }
  }

  &__text {
    margin-bottom: vw($mobile, 39px);

    @media screen and (min-width: $desktop) {
      margin-bottom: rem(40);
      padding-right: 5%;
    }
  }

  &__list {
    @extend %list-iconed;
  }

  &__item {
    @extend %list-iconed__item;
  }

  &__icon {
    width: vw($mobile, 24px);
    margin-top: vw($mobile, 3px);
    margin-right: vw($mobile, 15px);

    @media screen and (min-width: $desktop) {
      width: rem(39);
      margin-top: 0;
      margin-right: rem(20);
    }
  }

  &__phones {
    width: vw($mobile, 262px);
    margin: vw($mobile, 15px) auto 0;

    @media screen and (min-width: $desktop) {
      position: absolute;
      top: rem(-54);
      left: rem(-534);
      width: rem(419);
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
